<h1>Update {{city.title}}</h1>

<form action="/cities/edit" method="POST">
  <div class="input-field ">
    <input id="title" name="title" type="text" class="validate" required value="{{city.title}}">
    <label for=" title">Name City</label>
    <span class="helper-text" data-error="pleace enter data" data-success="right"></span>
  </div>

  <div class="input-field ">
    <input id="location" name="location" type="text" class="validate" required value="{{city.location}}">
    <label for="location">Location</label>
    <span class="helper-text" data-error="pleace enter data" data-success="right"></span>
  </div>

  <div class="input-field ">
    <input id="numberOfResidents" name="numberOfResidents" type="text" class="validate" required
      value="{{city.numberOfResidents}}">
    <label for="numberOfResidents">Number Of Residents</label>
    <span class="helper-text" data-error="pleace enter data" data-success="right"></span>
  </div>

  <div class="input-field ">
    <input id="square" name="square" type="text" class="validate" required value="{{city.square}}">
    <label for="square">Square</label>
    <span class="helper-text" data-error="pleace enter data" data-success="right"></span>
  </div>

  <div class="input-field ">
    <input id="yearOfFoundation" name="yearOfFoundation" type="number" class="validate" required
      value="{{city.yearOfFoundation}}">
    <label for="yearOfFoundation">Year Of Foundation</label>
    <span class="helper-text" data-error="pleace enter data" data-success="right"></span>
  </div>

  <div class="input-field ">
    <input id="image" type="text" name="image" class="validate" required value="{{city.image}}">
    <label for="image">Url Image</label>
    <span class="helper-text" data-error="pleace enter data" data-success="right"> </span>
  </div>
  <input type="hidden" name="id" value="{{city.id}}">
  <button class="btn btn-primary">Update city</button>
</form>